<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032123882817-jjtcu1bsig31uqgfht8heisk4cmrtmfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032123882817-jjtcu1bsig31uqgfht8heisk4cmrtmfq</string>
	<key>API_KEY</key>
	<string>AIzaSyBuwzi_EOWays5r4Yf045mJjv6nPAjU6dw</string>
	<key>GCM_SENDER_ID</key>
	<string>1032123882817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsbw.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-43558</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-43558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032123882817:ios:13eb8f1328888793c555c0</string>
</dict>
</plist>